.mainHeader {
	background-color: #whitesmoke;
}

.sidebar {
	background-color: ##D1D1D1;
	color: #222222;
}

.navigation {
	background-color: #3B463C;
	color: whitesmoke;
}

.calloutStyle {
	margin-top: 30px;
}

.box1 {
	background-color: #whitesmoke;
	text-align: left;
}

.imageLeft {
	float: left; 
	margin-right: 10px;
	width: 120%;
}

.imageRight {
	float: right; 
	margin-left: 10px;
}

.center {
  display: block;
  margin-left: 130px;
  margin-right: auto;
  width: 50%;}

h1{
	color: #222222; 
	font-family: font-family: 'Cormorant Garamond', serif;
	font-family: 'Libre Bodoni', serif;
	font-style: italic;
	font-size: 45px;
	font-weight: bold;
	}

h2 {
	color: #color: #424242;
	font-family: 'Cormorant Garamond', serif;
	font-family: 'Libre Bodoni', serif;
	font-size: 18px;
}

h3 {
	color: #000000;
	font-family: 'Alegreya Sans', sans-serif;
	font-family: 'Padauk', sans-serif;
	font-weight: bold;
	font-size: 26px;
}

body {
	background-color: #whitesmoke; color: #3B463C; 
	font-family: 'Alegreya Sans', sans-serif;
	font-family: 'Padauk', sans-serif;
	font-weight: boldest;
	font-size: 24px;
	color: #424242;
	padding: 80px;
}

img {
display: block;
margin-left: auto;
margin-right: auto;
}

iframe {
 
}