h1 {
	color: #5D5343; 
	font-family: 'Andada Pro', serif;
	font-family: 'Quintessential', cursive;
	font-size: 75px;
	}

h2 {
	 font-family: 'Josefin Slab', serif;
font-family: 'Kaushan Script', cursive;
	font-size: 28px;
}

h3 {
	 font-family: 'Josefin Slab', serif;
font-family: 'Kaushan Script', cursive; font-size: 22px;
}

p {
	 text-align: center;
}

body {
	background-color: #7F9A6E; color: #F5F5BF; 
	font-family: 'Josefin Slab', serif;
font-family: 'Merienda', cursive;
}

